<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- DoorayHookSender 빈 정의 -->
    <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">
        <constructor-arg ref="restTemplate"/>
        <constructor-arg value="${hookurl}"/>
    </bean>

    <!-- RestTemplate 빈 정의 -->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <!--프로퍼티 파일 로드 -->
    <context:property-placeholder location="classpath:dooraymessage.properties"/>

    <!-- DoorayMessageSender 빈 정의 -->
    <bean id="doorayMessageSender" class="com.nhnacademy.edu.springframework.DoorayMessageSender">
        <constructor-arg ref="doorayHookSender"/>
        <constructor-arg value="${hookurl}"/>
    </bean>

    <!-- MessageSenderService 빈 정의 -->
    <bean id="messageSenderService" class="com.nhnacademy.edu.springframework.MessageSenderService">
        <constructor-arg ref="doorayMessageSender"/>
    </bean>

    <!-- AOP 설정 -->
    <aop:aspectj-autoproxy/>

    <!-- LoggingAspect 빈 등록  -->
    <bean id="loggingAspect" class="com.nhnacademy.edu.springframework.LoggingAspect"/>

</beans>


