<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- DoorayHookSender 빈 정의 -->
    <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">
        <constructor-arg ref="restTemplate"/>
        <constructor-arg value="https://hook.dooray.com/services/3204376758577275363/3727911831849652136/t0TgHWJ1S9SWgyLnHKk53Q"/>
    </bean>

    <!-- RestTemplate 빈 정의 -->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <!-- DoorayMessageSender 빈 정의 -->
    <bean id="doorayMessageSender" class="com.nhnacademy.edu.springframework.DoorayMessageSender">
        <constructor-arg ref="doorayHookSender"/>
    </bean>

    <!-- MessageSenderService 빈 정의 -->
    <bean id="messageSenderService" class="com.nhnacademy.edu.springframework.MessageSenderService">
        <constructor-arg ref="doorayMessageSender"/>
    </bean>

<!--    &lt;!&ndash; DoorayHookSender 빈 정의    &ndash;&gt;-->
<!--    <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">-->
<!--        <constructor-arg ref="restTemplate"/>-->
<!--        <constructor-arg value="${hookurl}"/>-->
<!--    </bean>-->

    <!-- AOP 설정 -->
    <aop:aspectj-autoproxy/>

</beans>


